/************************************
* Style sheet for all of the project
*************************************/

/********
* Fonts
*********/
@font-face {
  font-family: 'bpmonoregular';
  src: url('../fonts/bpmono-webfont.eot');
  src: url('../fonts/bpmono-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bpmono-webfont.woff') format('woff'),
       url('../fonts/bpmono-webfont.ttf') format('truetype'),
       url('../fonts/bpmono-webfont.svg#bpmonoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../fonts/flaticon.woff") format("woff"),
  url("../fonts/flaticon.ttf") format("truetype"),
  url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  /*margin-left: 20px;*/
}.flaticon-adjustable:before {
   content: "\e000";
 }
.flaticon-cancel4:before {
  content: "\e001";
}
.flaticon-magnifier9:before {
  content: "\e002";
}
.flaticon-map30:before {
  content: "\e003";
}
.flaticon-point8:before {
  content: "\e004";
}
.flaticon-push19:before {
  font-size: 50px;
  content: "\e005";
}
.flaticon-radar5:before {
  font-size: 50px;
  content: "\e006";
}
.flaticon-remove11:before {
	font-size: 40px;
  content: "\e007";
}
.flaticon-screwdriver3:before {
	font-size: 31px;
	content: "\e008";
	line-height: 24px;
}
.flaticon-spam1:before {
  content: "\e009";
}
.flaticon-technical:before {
  content: "\e00a";
}
.flaticon-x9:before {
  content: "\e00b";
}

/********
* Resets
*********/
body{
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  color: #81e8ff;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'bpmonoregular';
}

a{
  color: #81e8ff;
  text-decoration: none;
}
.view input[type="radio"] {
  display: none;
}

.custom-radio + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background:url(../img/icons/check_radio_sheet.png) -38px top no-repeat;
	cursor:pointer;
}

.custom-radio:checked + label span {
	background:url('../img/icons/check_radio_sheet.png') -57px top no-repeat;
}

.hidden{
	display: none;
}


h1,
h2,
h3,
h4,
h5 {
	font-weight: lighter;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

input[type="text"]{
	border:0; 
	/*padding:10px; */
	font-size:1.2em; 
	font-family: Arial, sans-serif; 
	color:#1677ab;
	background-color: transparent;
	/*border:solid 1px #ccc;*/
	border-bottom: 6px solid #81e8ff;
}

.clr{
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}
/********
* Home page
*********/
.shadow-top,
.shadow-right,
.shadow-bottom,
.shadow-left{
  -moz-box-shadow: 0px 0px 100px 0px #3d3d3d;
  -webkit-box-shadow: 0px 0px 100px 0px #3d3d3d;
  -o-box-shadow: 0px 0px 100px 0px #3d3d3d;
  box-shadow: 0px 0px 100px 0px #3d3d3d;
  position: absolute;
   z-index: 1997;
}

.shadow-top{
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
.shadow-right{
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
}
.shadow-bottom{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
.shadow-left{
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
}

.border-top{
  width: 100%;
  height:18px;
  position: absolute;
  background-color: #c4c4c4;
  top: 0;
  left: 0;
  z-index: 2000;

}
.border-top-inner{
  width: 100%;
  height: 15px;
  position: absolute;
  background-color: #a5a4a4;
  top: 15px;
  left: 0;
  z-index: 1998;
}
.border-top:before{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  top: 18px;
  left: 18px;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent #a5a4a4 transparent transparent;
  z-index: 1999;
}
.border-top:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  top: 18px;
  right: 18px;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: #a5a4a4 transparent transparent transparent;
  z-index: 1999;
}

.border-right{
  width: 18px;
  height: 100%;
  position: absolute;
  background-color: #c4c4c4;
  top: 0;
  right: 0;
  z-index: 2000;
}
.border-right-inner{
  width: 15px;
  height: 100%;
  position: absolute;
  background-color: #b2b2b2;
  top: 0;
  right: 15px;
  z-index: 1998;
}
.border-bottom{
  width: 100%;
  height: 18px;
  position: absolute;
  background-color: #c4c4c4;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
.border-bottom:before{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: 18px;
  left: 18px;
  border-style: solid;
  border-width: 0 0 13px 13px;
  border-color: transparent transparent #e0e0e0 transparent;
  z-index: 1999;
}
.border-bottom:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: 18px;
  right: 18px;
  border-style: solid;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 13px 13px 0;
  border-color: transparent #B2B2B2 transparent transparent;
  z-index: 1999;
}

.border-bottom-inner{
  width: 100%;
  height: 15px;
  position: absolute;
  background-color: #e0e0e0;
  bottom: 15px;
  left: 0;
  z-index: 1998;
}
.border-left{
  width: 18px;
  height: 100%;
  position: absolute;
  background-color: #c4c4c4;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
.border-left-inner{
  width: 15px;
  height: 100%;
  position: absolute;
  background-color: #e0e0e0;
  top: 0px;
  left: 15px;
  z-index: 1998;
}

.st-container {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'bpmonoregular', 'Oxygen', Arial, sans-serif;
  z-index: 1800;
}

.st-container > input,
.st-container > a {
  position: fixed;
  bottom: 30px;
  width: 20%;
  cursor: default;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
}

.st-container > input {
  opacity: 0;
  z-index: 1000;
}

.st-container > a {
  z-index: 10;
  background: #8e3236;
  color: #81e8ff;
  text-align: center;
}

.st-container:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 34px;
  background: #8e3236;
  z-index: 9;
  bottom: 0;
}

#st-control-1, #st-control-1 + a {
  left: 0;
}

#st-control-2, #st-control-2 + a {
  left: 20%;
}

#st-control-3, #st-control-3 + a {
  left: 40%;
}

#st-control-4, #st-control-4 + a {
  left: 60%;
}

#st-control-5, #st-control-5 + a {
  left: 80%;
}

.st-container > input:checked + a{
  background: #653739;
}

.st-container > input:checked + a:after{
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #653739;
  border-width: 20px;
  left: 50%;
  margin-left: -20px;
}

.st-scroll,
.st-panel {
  position: relative;
  width: 100%;
  height: 100%;
}

.st-scroll {
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;

  /* Let's enforce some hardware acceleration */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-sibility: hidden;
}

.st-panel{
  background: url('../img/home/Home.jpg') no-repeat bottom center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

#st-control-1:checked ~ .st-scroll {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  -o-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
  -webkit-transform: translateY(-400%);
  -moz-transform: translateY(-400%);
  -o-transform: translateY(-400%);
  -ms-transform: translateY(-400%);
  transform: translateY(-400%);
}

.st-deco{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -100px;
  background: #8e3236;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
  content: attr(data-icon);
  color: #fff;
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 90px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  -webkit-transform: rotate(-45deg) translateY(25%);
  -moz-transform: rotate(-45deg) translateY(25%);
  -o-transform: rotate(-45deg) translateY(25%);
  -ms-transform: rotate(-45deg) translateY(25%);
  transform: rotate(-45deg) translateY(25%);
}

.st-panel h2 {
  color: #81e8ff;
  position: absolute;
  font-size: 54px;
  font-weight: 900;
  width: 80%;
  left: 10%;
  text-align: center;
  line-height: 50px;
  margin: -70px 0 0 0;
  padding: 0;
  top: 40%;
  -webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
  -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
  0% {
    -webkit-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes moveDown{
  0% {
    -moz-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes moveDown{
  0% {
    -o-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes moveDown{
  0% {
    -ms-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -ms-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveDown{
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

 .bloc-settings-input{
 	padding-left: 65px;
 }

.st-panel p {
  position: absolute;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #3c3c3c;
  z-index: 2;
  padding: 0;
  width: 80%;
  left: 10%;
  top: 40%;
  margin: 10px 0 0 0;
  -webkit-backface-visibility: hidden;
}

.st-panel span.bloc-menu{
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
	border: 10px solid #8e3236;
	padding: 25px;
}


#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
  -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
  animation: moveUp 0.6s ease-in-out 0.2s backwards;
}


@-webkit-keyframes moveUp{
  0% {
    -webkit-transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes moveUp{
  0% {
    -moz-transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes moveUp{
  0% {
    -o-transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes moveUp{
  0% {
    -ms-transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -ms-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveUp{
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



@-webkit-keyframes moveLeft{
  0% {
    -webkit-transform: translateX(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}

@-moz-keyframes moveLeft{
  0% {
    -moz-transform: translateX(40px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0px);
    opacity: 1;
  }
}

@-o-keyframes moveLeft{
  0% {
    -o-transform: translateX(40px);
    opacity: 0;
  }
  100% {
    -o-transform: translateX(0px);
    opacity: 1;
  }
}

@-ms-keyframes moveLeft{
  0% {
    -ms-transform: translateX(40px);
    opacity: 0;
  }
  100% {
    -ms-transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveLeft{
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.btn-link {
  -moz-box-shadow: 0px 7px 0px 0px #1677ab;
  -webkit-box-shadow: 0px 7px 0px 0px #1677ab;
  -o-box-shadow: 0px 7px 0px 0px #1677ab;
  box-shadow: 0px 7px 0px 0px #1677ab;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #93daea;
/*  -moz-box-shadow: 2px 2px 3px 0px #1677ab;
  -webkit-box-shadow: 2px 2px 3px 0px #1677ab;
  box-shadow: 2px 2px 3px 0px #1677ab;*/
  background-color:#49c9e6;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:17px;
  font-weight:bold;
  padding:12px 44px;
  margin-top: 40px;
  text-decoration:none;
  text-transform: uppercase;
}

.btn-link.btn-round{
	border-radius: 100%;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 1px;
	margin-top: 0;
	line-height: 28px;
}

.btn-round.checked{
	background-color:#4aafe6;
}

.btn-link.no-shadow{
	-moz-box-shadow: 0px 0px 0px 0px #1677ab;
  	-webkit-box-shadow: 0px 0px 0px 0px #1677ab;
}
.btn-link:hover, .btn-link.active {
  background-color:#4aafe6;
}
.btn-link:active {
  position:relative;
  top:1px;
}

.grid50 {
  width: 48%;
  min-height: 140px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  /*text-align: center;*/
}
.grid50:first-child{
	margin-right: 2%;
}

#render{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1000;
}

/********
* Full map
*********/
/*8e3236*/

#bloc-over-full{
	display: none;
	-webkit-animation: moveLeft 0.4s ease-in-out 0.1s backwards;
	-moz-animation: moveLeft 0.4s ease-in-out 0.1s backwards;
	-o-animation: moveLeft 0.4s ease-in-out 0.1s backwards;
	-ms-animation: moveLeft 0.4s ease-in-out 0.1s backwards;
	animation: moveLeft 0.4s ease-in-out 0.1s backwards;
	border: 10px solid #8e3236;
	margin-left: 50px;
	/*display: none;*/
	position: absolute;
	bottom: 90px;
	right: 265px;
	z-index: 1000;
}

#bloc-fullMap{
	width: 800px;
	height: 500px;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}

#fullmap{
	position: absolute;
	top: 0;
	left: 0;
}
#fullmap:hover{
	cursor: move;

}

#bloc-over-full:after{
	bottom: 20px;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	right: -30px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #8e3236;
}

#bloc-fullMap .glyphicon-close{
	width: 0;
	height: 0;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: 0px;
	z-index: 1001;
}

#bloc-over-full.show{
	display: block;
}

#bloc-over-full.hide{
	display: none;
}

.drag{
	cursor: move;
}

/********
* Mini map
*********/
#panel-minimap {
  /*opacity: 0.8;*/
	position: absolute;
	bottom: 50px;
	right: 20px;
	z-index: 1000;
}
#bloc-panel-minimap{
  /*opacity: 0.8;*/
/*	border: 10px solid #8e3236;*/
	position: absolute;
	bottom: 50px;
	right: 50px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
  /*shade = 'rgba(59, 235, 245, '+ opacity +')';*/
	background-color: rgb(68, 68, 68);
}

#bloc-panel-minimap-hover{
/*	border: 10px solid #8e3236;*/
	position: absolute;
	bottom: 50px;
	right: 50px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	z-index: 1001;
}

#bloc-panel-minimap-hover:hover{
	background-color: #3c3c3c;
	cursor: pointer;
	opacity: 0.7;
}

#bloc-minimap {
	border-radius: 100%;
	overflow: hidden;
	/* this fixes the overflow:hidden in Chrome/Opera */
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-o-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-moz-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	width: 200px;
	height: 200px;
	position: relative;
	margin-top: 30px;
	margin-right: 30px;
}

#minimap {
	position: absolute;
}


/********
* Pop
*********/
#bloc-pop{
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 1100;
}
.pop{
	padding: 20px;
  background-color: rgba(59, 67, 78, 0.2);
	/*background-color: rgba(166, 107, 190, 0.6);*/
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

/********
* Panel Infos
*********/
#panel-infos{
/*	color: #f2f2f2;
  	background-color: rgba(0, 0, 0, 0.5);*/
	width: 100%;
	position: fixed;
	bottom: 30px;
	left: 30px;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
/*	background-color: #8e3236;*/
}

.info-bloc{
	margin: 0px;
	padding: 10px 20px 18px 20px;
	color: #3BEBF5;
	font-family: 'bpmonoregular';
/*	background-color: #8e3236;*/
/*	border-right: 1px solid #653739;*/
	position: relative;
}

/*.info-bloc:last-child{
	border-right: 0;
}*/

#bloc-battery{}
#bloc-position{}
#bloc-material{}
#bloc-move{}
#btn-control{}

#display-control.btn-link.btn-round {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

}
.btn-panel{
	cursor: pointer;
  padding: 10px;
}

.btn-panel:hover{
	background-color: #653739;
	
}
.btn-panel:hover .glyphicon-seetings{
	opacity: 0.7;
	cursor: pointer;
  padding: 20px;
}



/********
* Icons
*********/
.glyphicon{
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: -12px;
}

.glyphicon-battery{
	background-image: url('../img/icons/battery.png');
}
.glyphicon-position{
	background-image: url('../img/icons/compass.png');
}
.glyphicon-material{
	/*background-image: url('../img/icons/');*/
}
.glyphicon-move{
	background-image: url('../img/icons/move.png');
}
.glyphicon-seetings{
	background-image: url('../img/icons/seetings.png');
	margin-right: 0px;
}
.glyphicon-close{
	/*background-color: #c4c4c4;*/
}


/********
* Console ask
*********/
#panel-console{
	display: none;
	color: #f2f2f2;
  	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 20px;
	position: fixed;
	bottom: 1px;
	left: 0px;
	font-family: 'Roboto', sans-serif;
	z-index: 1000;
}

#panel-console input[type="text"]{
	border:0;
	width:80%;
  	background-color: rgba(0,0,0, 0);
	color: #4DD2F0;
	font-size: 1em;
	font-family: 'bpmonoregular';

}

#panel-console input[type="text"]:focus{
	border:0;
	outline:0;
}

/********
* Console response
*********/
#panel-response-console{
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	font-family: 'bpmonoregular';
	width: 500px;
	height: 100px;
	margin-top: 30px;
	margin-left: 30px;
	overflow-x: auto;
	font-size: 0.7em;
}

#panel-response-console li.response{
	color: #4DD2F0;
}

#panel-response-console li.invader{
	color: #ff0059;
}

#panel-response-console ul{
	padding: 0;
	margin: 0;
}

#panel-response-console li{
	list-style: none;
	padding: 0;
	margin: 0;
}

#panel-response-console h3{
	margin: 0;
}

/********
* Control panel
*********/



#panel-control{
	z-index: 1100;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	border: 10px solid #8e3236;
	padding: 25px;
	top: 0px;
	left: 0;
}

#panel-control h3{
	/*font-weight: 900;*/
	margin: 0;
	margin-bottom: 6px;
	color: #3c3c3c;
}
#panel-control .btn-link{
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 14px;
	margin-top: 0px;
	border: none;
}
#panel-control.hide{
	display: none;
}


#panel-control.show{
	display: block;
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

#panel-control:after {
	bottom: -30px;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	left: 50%;
	margin-left: -20px;

	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #8e3236 transparent transparent transparent;
}

.control-bloc{
	margin-bottom: 10px;
}
.control-bloc:last-child{
	margin-bottom: 0px;
	margin-top: 30px;
}
